gridster-item {
  border-radius: 4px;
}
gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

gridster-item .item-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

gridster-item .gridster-item-content {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gridster-item-content {
  background-color: yellow;
}

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gridster {
    display: flex;
    height: calc(100vh - 115px);
    flex-direction: column;
  }
}

.maximize {
  height: calc(100%) !important;
  width: calc(100%) !important;
  top: 0 !important;
  left: 0 !important;
  transform: translate3d(0, 0px, 0px) !important;
  z-index: 999;
}

.widgetHeader{
  width: 100%;
  background: #30353d;
  box-sizing:border-box;
  padding: 0;
  text-transform: uppercase;
  color: lightgrey;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .widgetTitle {
    padding: 0 10px;
  }
  .actionButtons span > a {
    cursor: pointer;
  }
  a{
    color:lightgrey;
    padding: 0;
    width: 28px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.5s;

    &:hover {
      color: #00b5f1;
      background: #272b31;
      transition: 0.5s;
    }
    &.pinned {
      color: #00b5f1;
    }
  }

  .remove {
    a{
      &:hover {
        color: #ef5350;
      }

    }
  }
}

/**Tabs**/
.worko-tabs {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.worko-tabs .state {
  position: absolute;
  left: -10000px;
}
.worko-tabs .flex-tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-height: 40px;
}
.worko-tabs .flex-tabs .tab.save-tab {
  min-width: 40px;
  flex-grow: 0;
}
.worko-tabs .flex-tabs .panel {
  background-color: #fff;
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.worko-tabs .tab {
  display: inline-block;
  padding: 5px 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}
.worko-tabs .tab.save-tab {
  background-color: #00c853;
  &:hover {
    background-color:#009624;
  }
}
.worko-tabs .tab:hover {
  background-color: #fff;
}

.worko-tabs .tab.active {
  background-color: rgba(0, 188, 212, 0.3);
  cursor: default;
  border-left: 10px solid #00BCD4;
}


@media (max-width: 600px) {
  .flex-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .flex-tabs #tab-two-label {
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .flex-tabs #tab-three-label {
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .flex-tabs #tab-four-label {
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .flex-tabs #tab-one-panel {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .flex-tabs #tab-two-panel {
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .flex-tabs #tab-three-panel {
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .flex-tabs #tab-four-panel {
    -webkit-box-ordinal-group: 9;
            order: 8;
  }

  #tab-one:checked ~ .tabs #tab-one-label,
  #tab-two:checked ~ .tabs #tab-two-label,
  #tab-three:checked ~ .tabs #tab-three-label,
  #tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }

  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel,
  #tab-three:checked ~ .tabs #tab-three-panel,
  #tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}
