<!--
  <app-header [sidenav]="leftSidenav"></app-header> -->

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav [ngClass]="{'sidenav-open': onSideNavChange}" #leftSidenav mode="side" opened>
      <app-left-menu></app-left-menu>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'sidenav-open': onSideNavChange}">
      <!-- [@onMainContentChanged]="onSideNavChange ? 'open': 'close'" -->

      <app-gridsystem></app-gridsystem>
    </mat-sidenav-content>
  </mat-sidenav-container>
